/* basic block */
:root {
    --background: #053B50;
    --header: #176B87;
    --rub: #64CCC5;
    --text: #EEEEEE;
}

body {
    background-color: var(--background);
    font-size: 22px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
}

.link {
    color: var(--background);
    text-shadow: 2px 2px 10px var(--background);
}
.link:hover {
    color: var(--text);
}
.selected {
    color: var(--text);
    text-shadow: 2px 2px 10px var(--rub);
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7%;
    background-color: var(--header);
    color: var(--background);
}

#logo-text {
    color: var(--rub);
    text-decoration: none;
    text-shadow: 2px 2px 10px var(--rub);
}
/* basic block */


#rub1 {
    margin: 5%;
    padding: 5%;
    color: aliceblue;
}

.container {
    display: flex;
    margin-top: 60px;
    padding: 2%;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    padding: 7%;
    margin: 2px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.login-psw{
    display: flex;
    font-size: 10px;
    align-items: center;
}

.drop-zone {
    border-style: solid;
    border-color: var(--header);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: var(--header);
}

#text-drop-file {
    color: var(--text);
    text-shadow: 2px 2px 10px var(--rub);
}

.button-submit {
    background-color: var(--rub);
    border-style: solid;
    border-radius: 10px;
    border-color: var(--rub);
    text-shadow: 2px 2px 10px var(--header);
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.drop-file {
    color: var(--text);
    cursor: pointer;
    border-style: solid;
    border-color: var(--rub);
    border-radius: 10px;
}

#sexe {
    display: flex;
    justify-content: space-around;
}

#home {
    display: flex;
    width: 500px;
    justify-content: space-around;
}